{
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": true,
  "arrowParens": "always"
}
